* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  background-color: var(--Light-Gray);
  max-width: 768px;
  font-family: 'Karla', sans-serif;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 20px;
}

 #container {
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 50px;
  border-radius: 5px;
  overflow: hidden;
 }

 .showcase {
  width: 100%;
  padding: 25px;
 }

 h3 {
  font-size: 1rem;
  font-weight: 700;
 }

.box {
  display: block;
}

.box-heading {
  margin-bottom: 15px;
}

.box-1 .tariff {
  font-size: 1.75rem;
  font-weight: 700;
  margin-right: 5px;
}

.box-1 {
  padding: 25px;
}
.box-2 {
  padding: 25px;
}

.box-2 ul li {
  line-height: 1.1rem;
  font-size: 0.75rem;
}

.btn {
  margin-bottom: 0;
}